.cntList {
	min-width: 1000px;
	color: $admin-medium;
	&--heading {
		// common
	}

	&--home {
		// common
	}

	&--logout {
		// common
	}

	&_paginate {
		// common
	}

	&_table {
		// common
	}
}

.removeContact {
	cursor: pointer;
}
