footer.footer
  .footer_brief
    .footer_brief_logo
      a.footer_brief_logo_a(href="/")
        svg.footer_brief_logo_a--svg 
          use(xlink:href="/images/icons.svg#dc_logo_sq")
    p.footer_brief_des Website development | Cloud-hosted applications | Graphic design
    .footer_brief_info We develop custom websites which are scalable with cross-platform compatibility. We code for both the area; front-end, and back-end, depending upon the customer's requirements. Our developers are up for any challenge; we are good at solving complex issues such as digitalizing any physical day-to-day task for the ease and reduction of time utilisation. Our creativity over beautiful, user-friendly websites will leave you mesmerized. And our graphic design skills are highly capable of producing eye-catching designs.

  .footer_map
    p.footer_map--add We are located at H. No. 2-19-78/G/1, Street 11, Near Kalyanpuri community hall, Kalyanpuri, Uppal, Hyderabad, Telangana - 500039
    iframe.footer_map--locate(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.007337676334!2d78.55475591528013!3d17.41143550669306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99ce083747c9%3A0x38fbc57382cab9c3!2sDesigncusta!5e0!3m2!1sen!2sin!4v1660493127260!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

  .footer_links
    a.footer_links--a(href="/") Home
    a.footer_links--a(href="/services")  Web Services
    a.footer_links--a(href="/services") Graphic Services
    a.footer_links--a(href="/services") Services / pricing
    a.footer_links--a(href="/portfolio") Portfolio
    a.footer_links--a(href="/graphic-blog") Graphic Design(blog)
    a.footer_links--a(href="/webDev-blog") Web Dev(blog)
    a.footer_links--a(href="/contact") Contact us

  .footer_copy
    p.footer_copy--rights &copy;2022 All rights reserved. www.designcusta.com
    a.footer_copy--terms(href="/terms-conditions") Terms & conditions
  .footer_float
    ul.footer_float_ul
      li.footer_float_ul_li
        a.footer_float_ul_li_a(href="#moveTop")
          svg.footer_float_ul_li_a--svg 
            use(xlink:href="/images/outline.svg#top_arrow")
      li.footer_float_ul_li
        a.footer_float_ul_li_a(href="/#callback")
          svg.footer_float_ul_li_a--svg 
            use(xlink:href="/images/outline.svg#whatsApp")
      li.footer_float_ul_li
        a.footer_float_ul_li_a(href="mailto:contact@designcusta.com")
          svg.footer_float_ul_li_a--svg 
            use(xlink:href="/images/outline.svg#email")
