extends base 
block content
  .about
    .about_intro
      h1.about_intro_head Hi,
      p.about_intro_para Around 59% of the global population is online which means cultivating a strong web presence for any organisation is crucial. Custom software developments on cloud enhance the work-flow with the larger advantages of cost saving, time efficiency, high speed, back-up, data restoration, mobility, quick deployment, etc. Custom web application development streamlines the process of the organisation, therefore it can have the relevant features and run efficiently with zero hiccups. Such applications are tailored based on the users’ comfort of digital interaction meeting all requirements of the organisation perfectly, and with full scope of future modification or high scalability. Hacking a custom coded application is far more complex and time-consuming which makes it nearly impossible, this ensures high security.
      p.about_intro_para I come from a multiple background, owning a Master’s degree in geology, became a full stack web developer as well as a graphic designer. All of the field shares my equal interest, therefore there is no question left in bringing out products with the combination of all the learnings. Whether in the area of geology, website development or graphic designing, you will find me unique. I have a habit of deep problem solving, work like a perfectionist. All my work is meaningful and worthy. The best way to know me is by my work, so I will be really happy if you go through the services I provide.
    .about_author
      .about_author_photo
        .about_author_photo--ring
          .about_author_photo--ring-1 
          .about_author_photo--ring-2 
          .about_author_photo--ring-3 
          .about_author_photo--ring-4 
          .about_author_photo--ring-5 
        img.about_author_photo--img(src="images/author.jpg", alt="author")
      .about_author_brief
        h1.about_author_brief--text S. A. Faizi
        p.about_author_brief--degree Full-stack web developer, Graphic designer, M.Sc. (Geology)