extends base 
block content
 .graphicDesign
  .graphicDesign--headnote Graphic Design
  .graphicDesign--heading  Let's know something about Graphic Design and It's Importance in today's world
  .graphicDesign--subHeading  Graphic design can be an effective way to capture the attention of the audience.
  img.graphicDesign--img(src="images/blogs/graphic-design-banner-image.png", alt="Graphic Design")
  .graphicDesign_blog
    ul.graphicDesign_blog_link
      li.graphicDesign_blog_link_item
        a.graphicDesign_blog_link_item--link(href="#item-graphic-1") What is a Graphic Design
      li.graphicDesign_blog_link_item
        a.graphicDesign_blog_link_item--link(href="#item-graphic-2") Importance of Graphic design
      li.graphicDesign_blog_link_item
        a.graphicDesign_blog_link_item--link(href="#item-graphic-3") Benefits of Graphic Design
      .graphicDesign_blog_link_item_blog
      h5.graphicDesign_blog_link_item_blog--heading Our Latest Blog  
      img.graphicDesign_blog_link_item_blog--img(src="images/blogs/web-dev-banner-image.jpg", alt="Graphic design")
      a.graphicDesign_blog_link_item_blog--link(href='/webDev-blog') Web Design and It's Importance in today's world    
    .graphicDesign_blog_content
      .graphicDesign_blog_content_what#item-graphic-1
        h3.graphicDesign_blog_content_what--heading What is a Graphic Design?
        p Graphic design is the art and practice of creating visual and textual content to communicate ideas and experiences.  In graphic design, ideas or messages are visually communicated. An example would be a logo for a business or the layout of pages on a website. An effective graphic design can help convey a message, promote products, and develop brands.
      .graphicDesign_blog_content_importance#item-graphic-2
        h3.graphicDesign_blog_content_importance--heading Importance of Graphic design 
        p When a large amount of information about the business is presented flatly, it would be very difficult for the audience to understand what message is actually being tried to convey. Reading through a lot of text is not something anyone wants to do. Graphic design plays a crucial role in preventing such situations.
        p  The use of graphic design can be an effective way to capture the attention of the audience. A good image can help the audience connect with service provider.
        p Branding campaigns cannot succeed without graphics or with poor graphics. For instance, the logo can help to describe the business' uniqueness from others. Graphic design helps to create a unique identity for the brand. It connects the business with the potential customer.
        p It is essential that the design choosen for a business is original. If branding is done for a company, it shouldn't choose a bad designer who uses free, template graphics for the branding and does not deliver original work.
      .graphicDesign_blog_content_benifits#item-graphic-3
        h3.graphicDesign_blog_content_benifits--heading Benefits of Graphic Design 
        p Graphic designers are increasingly in demand as small businesses use them to produce marketing materials for growth. In the digital age, graphics are one of the most powerful tools available to marketers, and it's no surprise that businesses rely on quality graphic design to enhance their brand visibility.
        p There are many benefits to graphic design that go beyond just making something look good. There are many significant benefits that can come from good design, but in many cases, it is undervalued. The company's marketing and messaging can be boosted through graphic design when it is used effectively, giving it more power to inform, educate, and persuade.
        p
          b Some of the benefits are mentioned below
        p 1.	Branding the business with eye-catching graphics attracts new customers and draws attention for example business logo. Having a logo helps the business stand out from the competition.
        p 2.	A graphic design that connects with the emotions of their target audience can help businesses gain a competitive advantage. A successful advertisement, product branding, and even marketing requires effective branding.
        p 3.	In addition to conveying data to the customers, graphic design can also help to communicate with them. All elements of the visual messaging, from the logo to the printed materials, communicate the story. Those with a strong understanding of graphic design are aware that different colors and shapes affect the user's perception of the experience in different ways.
        p 4.	Great use of graphic design will leave a great impression on consumers and convert them into a own-devoted customers since it solves problems through appropriate visual communication. Having a connection with the customers benefits for long term.
        p 5.	Brand image plays an important role in making customers trust the business more, resulting in new customer relationships. Engaging the customers and building relationships are great ways to develop brand loyalty. 
