style.
  body {
    background-color: #f6f6f6;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
    width: 100%;
    box-sizing: border-box;
  }
  table {
    border-collapse: separate;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    font-family: sans-serif;
    font-size: 14px;
    }

  .background{
    width: 100%;
    background-color: #f6f6f6;
  }

  .main {
    background-color: #f6f6f6;
    margin: 0 auto 10px auto!important;
    /* makes it centered */
    max-width: 580px;
    padding: 10px;
    width: 580px; 
  }
  .body {
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
  }
  .footer{
    font-size: 10px;
    text-align: center;
    padding: 10px;
  }
  .bdgtHeader{
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(to right, #4fc29f 20%, #25ecb0);
    color: #ffffff;
    padding: 8px;
    margin: 10px 0;
  }
  .bdgtHeaderCells > td {
    width: 100%;
  }
  .bdgtBody{
    width: 100%;
    padding: 30px;
  }
  .bdgtServices{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
  }
  .serviceListRow > td{
    border-bottom: 1px dashed #06a978;
    padding: 4px 0;
  }
  @media only screen and (max-width: 600px) {
    .main {
      max-width: 380px;
      padding: 2px;
      width: 380px; 
      }
    .bdgtHeaderCells > td {
      font-size: 15px;
      font-weight: 400;
    }
    .mailLogo{
      width: 110px;
    }
    .bdgtServices{
      width: 100%;
      padding: 0;
      margin: 20px 0;
    }
    .serviceListRow > td{
      border-bottom: 1px dashed #06a978;
      padding: 4px 6px 0 4px;
    }
  }

